@charset "UTF-8";

  /* web 폰트 */
  @font-face {
     font-family: 'NG';
     src: url('/studyhtml5/font/NanumGothic.woff') format('woff');
  }
  
  @font-face {
     font-family: 'NGB';
     src: url('/studyhtml5/font/NanumGothicBold.woff') format('woff');
  }  
  
  
  @font-face {
     font-family: 'NGEB';
     src: url('/studyhtml5/font/NanumGothicExtraBold.woff') format('woff');
  } 
  
  html {
    font-family: NG;
  }