<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="html, css, javascript, jsp" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/studyhtml5/asset/css/board.css">

<!--스타일 시트 -->
<style type="text/css">

  
</style>

<title>Insert title here</title>
<!--자바스크립트 코드 -->
<script type="text/javascript">

</script>
</head>
<body>
   <!-- wrap -->
   <div id="wrap">
   <h2>게시-목록</h2>
   <hr/>
   <!-- 검색 -->
   <form action="">
    <label for="searchDiv">검색구분</label>
    <select name="searchDiv" id="searchDiv">
        <option value="">전체</option>
        <option value="10">순번</option>
        <option value="20">제목</option>
        <option value="30">내용</option>
        <option value="40">제목+내용</option>
    </select>
    <input type="text" name="searchWord"  id="searchWord" size=20>
    <select name="pageSize" id="pageSize">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
    </select>
    <input type="button" value="조회" id="doRetrieve">
    <input type="button" value="등록" id="moveToReg" >
   </form>
   <!--// 검색 ------------------------------------------------------------------>
   
   <!--게시 목록 -->
   <table border="1">
     <thead>
        <tr>
            <th width="80">NO.</th>
            <th width="200">제목</th>
            <th width="80">조회수</th>
            <th width="100">등록일</th>
            <th width="80">등록자</th>
        </tr>
     </thead>
     <tbody>
        <tr>
            <td>1</td>
            <td>게시글1</td>
            <td>0</td>
            <td>2022-04-20</td>
            <td>admin</td>
        </tr>
        <tr>
            <td>2</td>
            <td>게시글2</td>
            <td>0</td>
            <td>2022-04-20</td>
            <td>admin</td>
        </tr>        
        
     </tbody>
   </table>
   <!--// 게시 목록--------------------------------------------------------------->
   
   <!-- paging -->
   <table>
    <tr>
        <td width="540" align="center"><< < 1 2 3 4 5 6 7 8 9 10 > >></td>
    </tr>
   </table>
   <!--// paging ---------------------------------------------------------------->
   
   </div>
   <!--// wrap ---------------------------------------------------------------->
</body>
</html>



